/*

RESETS

*/
html, body {
    background: #F2F2F2;
    text-align: center;
}
body {
    padding: 40px 0;
}
a {
    text-decoration: none;
}
a.logo {
    display: inline-block;
    position: relative;
    color: #757575;
    width: 268px;
    height: 49px;
    background: url(../img/logo.png) no-repeat;
    text-indent: -999em;
    margin-left: -30px;
}
h4 {
    color: #999;
}